        @font-face {
            font-family: myFirstFont;
            src: url(image/quantum/Quicksand/Quicksand-VariableFont_wght.ttf);
        }
        
        body {
            background-color: #EEEEEE;
            font-family: myFirstFont;
        }
        
        #header {
            background-image: url("image/quantum/headerback.png");
            border-bottom: 2px solid #31B9E4;
            padding-left: 20px;
            display: flex;
            align-items: center;
        }
        
        #header div {
            margin-left: auto;
        }
        
        .navbar {
            display: flex;
            align-content: center;
            justify-content: right;
        }
        
        .navbar .hide {
            overflow: hidden;
        }
        
        .navbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            font-size: 17px;
        }
        
        .navbar .icon {
            display: none;
        }
        
        .navbar img {
            width: 32px;
            height: 32px;
            border-radius: 32px;
        }
        
        .course-class {
            margin-top: 15px;
            background-color: #8DDC97;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding-top: 6px;
        }
        
        .course-num {
            display: flex;
            justify-content: center;
            border-bottom: 3px solid black;
        }
        
        .sorting {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
        
        .courses {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
        }
        
        .course {
            display: grid;
            padding: 12px;
            width: 470px;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: 202px 49px;
        }
        
        .course .image {
            grid-row: 1;
            grid-column: 1/span 4;
            height: 160px;
            width: 130px;
            padding-bottom: 16px;
            padding-right: 16px;
            padding-left: 24px;
            padding-top: 24px;
        }
        
        .course-type {
            margin: -24px 0 0 -24px;
        }
        
        .course .detais {
            grid-row: 1;
            grid-column: 5/span 8;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
        }
        
        .course .detais .topic {
            display: flex;
        }
        
        .course .detais h3,
        h4,
        p {
            margin: 0px;
        }
        
        .course .detais .subject {
            display: flex;
            justify-content: left;
            column-gap: 15px;
        }
        
        .course .icons {
            grid-row: 2;
            grid-column: 1/-1;
            display: flex;
            justify-content: space-around;
            border: 1px solid black;
        }
        
        .course .icons1 {
            grid-row: 2;
            grid-column: 1/-1;
            display: flex;
            justify-content: space-around;
            border: 1px solid black;
        }
        
        .b-footer {
            color: #1F7A54;
            font-size: 12px;
            text-align: center;
            column-gap: 10px;
            margin-top: auto;
            margin-bottom: 10px;
        }
        
        #footer {
            background-color: #E0E1E1;
            display: flex;
            font-size: 12px;
            align-items: center;
            column-gap: 20px;
            justify-content: center;
            padding-left: auto;
            padding-right: auto;
        }
        
        #footer img {
            padding: 10px;
        }
        
        @media screen and (max-width: 768px) {
            .navbar .hide {
                display: none;
            }
            .navbar .hamburger a {
                float: right;
                display: flex;
            }
        }