@font-face {
    font-family: myFirstFont;
    src: url(image/quantum/Quicksand/Quicksand-VariableFont_wght.ttf);
}

body {
    background-color: #EEEEEE;
    font-family: myFirstFont;
}

#header {
    background-image: url("image/quantum/headerback.png");
    border-bottom: 2px solid #31B9E4;
    padding-left: 20px;
}

.b-header {
    display: flex;
}

.bh {
    margin-left: auto;
    margin-right: auto;
}

.back {
    justify-self: left;
}

.radi {
    padding-top: 14px;
    align-items: center;
    font-size: 10px;
}

.radi img {
    width: 10px;
    height: 10px;
    padding-left: 10px;
}

.inputs {
    font-size: 15px;
    color: #000000;
    border-bottom: 1px solid #37363638;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.inputs1 {
    font-size: 10px;
    color: #020000ec;
    border-bottom: 1px solid #37363638;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
}

.inputs2 {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.green {
    color: #1F7A54;
    text-align: right;
    font-size: 10px;
}

.texts {
    font-size: 10px;
    margin-top: 20px;
    color: #1F2834;
}

button {
    background-color: #3FD28B;
    border: 0px;
    color: #1F2834;
    padding: 10px 80px;
    border-radius: 5px;
    margin-top: 10px;
    justify-self: center;
}

.login-body {
    margin-top: 50px;
    border-top: 2px solid #31B9E4;
    align-items: center;
    justify-items: center;
    background-color: #FFFFFF;
    width: 300px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.b-footer {
    color: #1F7A54;
    font-size: 12px;
    text-align: center;
    column-gap: 10px;
    margin-top: auto;
    margin-bottom: 10px;
}

#footer {
    background-color: #E0E1E1;
    display: flex;
    font-size: 12px;
    align-items: center;
    column-gap: 20px;
    justify-content: center;
    padding-left: auto;
    padding-right: auto;
}

#footer img {
    padding: 10px;
}


/* 
.login-body {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    align-items: center;
    border-top: 2px solid #31B9E4;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.b-header {
    margin-top: 20px;
    font-size: 24px;
}

.back {
    margin-right: auto;
}

.datas {
    padding: 0%;
}

.radi {
    align-content: center;
}

.forgot {
    color: #1F7A54;
    text-align: right;
    font-size: 15px;
}

button {
    background-color: #3FD28B;
    border: 0px;
    color: #1F2834;
    padding: 10px 80px;
}

.input {
    align-items: center;
    justify-content: space-between;
} */